.sidebarMenu {
  position: static;
  top: 13%;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5%;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  color: var(--primary-contrast-text);
}

.iconContainer {
  color: var(--primary-contrast-text);
  margin-right: 10px;
}

.active {
  color: var(--secondary-main);

  .iconContainer {
    color: var(--secondary-main);
  }

  .label {
    font-weight: bold;
    font-size: larger;
  }
}

@media (width: 600) {
  .label {
    font-size: small;
  }
}

