/* src/components/SearchActions/SearchActions.module.scss */

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 16px;
}

.button {
  padding: 16px;
  width: 4vw;
  height: 4vw;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.702);
  }
}

.dislikeIcon {
  color: var(--primary-contrast-text);
  font-size: 50%;
}

.superLikeIcon {
  color: var(--warning-main);
  font-size: 80%;
}

.likeIcon {
  color: var(--secondary-main);
  font-size: 80%;
}
